@import './../../layout/variables.scss';

.HeaderStyles {
  padding: 15px 0;
  background: $white;
  border-bottom: 1px solid $gracolor;
  .TopHeader {
    padding-bottom: 14px;
  }
  .HeaderTitle {
    text-align: center;
    h3 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      color: $black1;
      margin: 0;
    }
  }
  .HeaderRight {
    text-align: right;
    .UserBorder {
      border-left: 1px solid $gracolor;
      padding-left: 18px;
    }
  }
  .ant-btn-link {
    padding: 0;
    height: auto;
  }
  .BottomHeader {
    padding: 12px 0 0;
  }

  .SearchBx {
    width: 267px;
    .ant-input-affix-wrapper {
      background: $gracolor2;
      border-radius: 4px;
      border: none;
      padding: 6px 13px 6px;
      .ant-input {
        background: $gracolor2;
        color: $gracolor3;
        font-size: 14px;
        &::placeholder {
          color: $gracolor3;
        }
      }
    }
  }
  .DropDownMenu {
    .ant-dropdown-link {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $black1;
      border: 1px solid $gracolor;
      padding: 8px 14px 8px 14px;
      margin-right: 8px;
      border-radius: 40px;
      @media #{$PhoneL} {
        margin-bottom: 10px;
        padding: 8px 10px 8px 10px;
      }
      svg {
        margin-left: 6px;
        vertical-align: middle;
      }
    }
    .count {
      height: 16px;
      width: 16px;
      background-color: $primary;
      color: $white;
      font-size: 9px;
      font-weight: 500;
      text-align: center;
      border-radius: 100%;
      line-height: 16px;
      margin-left: 10px;
      display: inline-block;
    }
    .ClearAll {
      margin-left: 14px;
      font-weight: 400;
    }
  }
  .ButtonRight {
    text-align: right;
    .ant-btn-primary {
      font-size: 13px;
      svg {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  @media #{$Laptop} {
    .Search-drop-row {
      .ant-col {
        width: 100%;
      }
    }
    .SearchBx {
      width: 100%;
    }
    .ButtonRight {
      text-align: center;
      margin-top: 15px;
    }
    .DropDownMenu {
      margin-top: 15px;
      text-align: center;
    }
  }
}
.task-form-drawer {
  .ant-drawer-body {
    padding: 25px;
    .ant-form-item-label {
      text-align: left;
    }
  }
  .ButtonRight {
    button {
      margin-right: 20px;
    }
  }
}
.userProfile-dropdown {
  li {
    padding: 3px 8px;
    button {
      padding: 6px 20px;
      font-weight: 400;
      border: none;
      color: $black1;
      text-align: left;
    }
    &:hover {
      background-color: transparent;
      button {
        color: $primary;
        background: rgba(0, 100, 255, 0.06);

        border-radius: 4px;
      }
    }
  }
}
