$primary: #0064FF;

$white: #fff;

$gracolor: #EBEBF0;
$gracolor2: #F5F7F9;
$gracolor3: #A3AEB8;
$gracolor4: #fafafa;
$gracolor5: #636C72;

$black: #000;
$black1: #173851;

$green: #16B255;
$red: #FF6A73;


/* Media screen */
$DesktopXL: 'only screen and (max-width : 1919px)';
$DesktopL: 'only screen and (max-width : 1660px)';
$DesktopM: 'only screen and (max-width : 1440px)';
$Desktop: 'only screen and (max-width : 1366px)';
$Laptop: 'only screen and (max-width : 1199px)';
$Ipad: 'only screen and (max-width : 1024px)';
$IpadS: 'only screen and (max-width: 991px)';
$PhoneL: 'only screen and (max-width: 767px)';
$PhoneS: 'only screen and (max-width: 575px)';